---
---

@import 'main';

/* append your custom style below */

.hlr-yellow {
    background-color: #fff5b1;
}

.hlr-blue {
    background-color: #f1f8ff;
}

.hlr-red {
    background-color: #ffdce0;
}

.hlr-green {
    background-color: #dcffe4;
}

.hlr-purple {
    background-color: #f5f0ff;
}

.hlr-gray {
    background-color: #f6f8fa;
}

.hlr-orange {
    background-color: #f7ddbe;
}

.text-color-yellow {
    color: #fff5b1;
}

.text-color-white {
    color: #ffffff;
}

.text-color-blue {
    color: #f1f8ff;
}

.text-color-red {
    color: #ffdce0;
}

.text-color-green {
    color: #dcffe4;
}

.text-color-purple {
    color: #f5f0ff;
}

.text-color-gray {
    color: #f6f8fa;
}

.text-color-orange {
    color: #f7ddbe;
}

.text-color-bold {
    color: #ffffffc6;
}